{% extends 'base.html.twig' %}

{% block title %}Mon wiki : Article {{article.title}} {% endblock %}

{% block content %}
    <div class="article_box p-3">
        <h3 class="article_title">{{ article.title }}</h3>
        <div class="article_content">{{article.content}}</div>
        <div class="article_files"> un fichier a dl</div>
        <span class="article_userName">Rédiger par : {{article.users.name}}, </span>
        <span class="article_postDate">Le : {{article.getPostDateString()}}</span>
    </div>
    </br>
    <h4 class="commantary p-2">Les commentaire :</h4>
    {% for commentaries in commentary %}
    <div class="commentary_box">
    <div class="commentary_userName">écrit par : {{article.users.name}}</div>
    <span>{{commentaries.message}}</span>
      <div class ="commentary_postDate" >{{commentaries.getPostDateString()}}</div>
    </div>
    {% endfor %}
    <a class="btn btn-outline-secondary" href="/commentary/{{article.id}}/{{article.title|slice(0,100)}}">commenter</a>

{% endblock %}
